body {
  /* padding: 50px; */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.4rem ;
  line-height: 1;
  /* padding: 50px;
  padding-top: 5rem; */
}

/* a {
  color: #00B7FF;
} */

nav a,
.navbar-light .navbar-nav .nav-link {
  color: white;
}

nav a:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(238, 238, 238);
}

.masthead {
  background-image: linear-gradient(30deg, #1f80ff 0%, #28324E 100%);
  height: 300px;
  margin-bottom: 30px;
}

.masthead .container div {
  padding: 50px 50px 0px 50px;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
}

.masthead * {
  color: white;
}

#main_map {
  height: 600px;
  /* background-color: red; */
}

.table-bicis td {
  vertical-align: middle;
}